.productImage {
    height: 100px;
    width: 100px;

}
#textBoxUser,#textBoxLösen,#button1,#button2 {
   margin-top: 11px;
}
#Search{
    margin-top:7px;
}
#SearchKnapp {
    margin-top: 7px;
}


/*#Image1 {
    background: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}*/
index_1,gem,häftapparater,papper,pennor,Varukorg {
    background: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg') no-repeat;
    background-attachment:initial;
    background-size: 100%;
}*/

.container-fluid {
    background-image: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg');
    background-position: inherit;
    /*width: 700px;
    height: 400px;*/
}
/*.gem {
    background-image: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg');
    background-position:inherit;
    width: 700px;
    height: 400px;
}*/
/*.auto-style2 {
    background-image: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg');
    background-position: inherit;
}*/
/*.Häft {
    background-image: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg');
    background-position: inherit;
}

.papper{
background-image: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg');
    background-position: inherit;
}*/
#Content2 {
    background-image: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg');
    background-position: inherit;
}
#buyStuff {
    float:right;
    margin-right: 50px;
}



