.productImage {
    height: 100px;
    width: 100px;

}
#textBoxUser,#textBoxLösen,#button1,#button2 {
   margin-top: 11px;
}
#Search{
    margin-top:7px;
}
#SearchKnapp {
    margin-top: 7px;
}


/*#Image1 {
    background: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}*/
html {
    background: url('Bilder/10798171-Some-Office-Stuff-Hand-Drawn-Stock-Vector-doodle.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
} 

